<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farflights.appointments.appointments">

    <uses-permission android:name="android.permission.INTERNET"/>
    {% includecode github_path="firebase/quickstart-android/messaging/app/src/main/AndroidManifest.xml"
    region_tag="firebase_service" adjust_indentation="auto" github_link=True %}

    <service
        android:name=".MyFirebaseInstanceIDService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
    </service>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        {% includecode github_path="firebase/quickstart-android/messaging/app/src/main/AndroidManifest.xml"
        region_tag="fcm_default_icon" adjust_indentation="auto" github_link=True %}



        <activity
            android:name=".Upcoming"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Book"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Browse"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Search"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".SingleBookingActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Favourites"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".SettingsMenu"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".SingleBusinessActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Logout"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>